@import "./variables";

.container,
.page-footer p {
  max-width: 960px;
  margin: 0 auto;
}
.page-header {
  background: $colo;
}
.page-nav,
.list-news-nav {
  list-style: none;
  padding: 10px;
}
.page-nav {
  text-align: none;
  padding: 10px;
}
.page-nav {
  text-align: right;
  margin-bottom: 1px;
}
.page-nav li {
  display: inline-block;
}
.page-nav a {
  display: block;
  padding: 0 10px;
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}
.page-nav a:hover {
  color: black;
}
.banner img {
  width: 100%;
}
.main {
  margin-right: -10px;
}

.list-news {
  background: rgb(220, 168, 44);
  width: 280px;
}
.list-news-nav li {
  padding: 5px 0;
  border-bottom: 1px solid black;
}
.list-news-nav a {
  display: block;
  color: black;
  text-decoration: none;
}

.list-news-nav a {
  padding: 5px 0;
  
}
.list-news-nav a:hover {
  color: aliceblue;
}
.section-img {
  width: 300px;
  height: 200px;
  color: azure;
  text-align: center;
  line-height: 200px;
  font-size: 22px;
}
.red {
  background-color: red;
}
.gray {
  background-color: rgb(4, 36, 122);
}
.yellow {
  background-color: rgb(207, 169, 16);
}
.green {
  background-color: rgb(71, 201, 71);
}


.section,
.list-news {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.section {
  width: 300px;
}
.page-footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}