.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
  gap: 2rem;
  color: #1e3a8a;
  margin-top: 10rem;
  margin-bottom: 7.6rem;
}

.icon {
  height: 20rem;
}
