html {
  position: relative;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  padding: 20px;
  p {
    color: white;
    font-size: 12px;
    margin-bottom: 0;
  }
}
