.new-post-wrap {
  display: flex;
  flex-direction: column;
  color: #ffffffde;
}
.new-post-wrap > h2 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.new-post-div {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  margin-bottom: 2rem;
}
.new-post-div > label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.new-post-div > input {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 600;
  outline: none;
  border-radius: 1rem;
  border: none;

  box-shadow: 0 2px 5px #ffffffde;
  background-color: #242424;
  color: #ffffffde;
}

.new-post-div > input::placeholder {
  color: #c3c3c3de;
}

.new-post-div > textarea {
  resize: none;
  height: 25rem;
  border-radius: 1rem;
  outline: none;
  font-size: 3rem;
  box-shadow: 0 2px 5px #ffffffde;
  background-color: #242424;
  color: #ffffffde;
}

.buttons-div {
  display: flex;
  gap: 2rem;
  justify-content: end;
  padding: 2rem 5rem;
}

.buttons-div > button {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: 1.2rem;
  color: #fab833;
  font-weight: 700;
  background-color: #242424;
  box-shadow: 0 2px 5px #ffffffde;
  cursor: pointer;
}
