* {
  box-sizing: border-box;
  margin-bottom: 3px;
}

.weapper {
  width: 1800px;
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 2px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 8px;
}
select,
option {
  display: block;
  height: 35px;
  
  border-radius: 5px;
  border-color: rgba(76, 71, 71, 0.566);
  padding-left: 10px;
}

input {
  height: 40px;
  padding-left: 10px;
}

.btn {
  background-color: rgba(19, 182, 46, 0.879);
  color: white;
  border-color: black;
  border-radius: 5px;
}
