* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: url("https://images8.alphacoders.com/625/625910.png") no-repeat
    center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

html {
  position: relative;
}

.hidden {
  display: none;
}

.filter {
  background-color: #197854;
}

.cards__container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: auto auto;
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    grid-template-columns: auto auto auto;
  }
  @media screen and (min-width: 1440px) {
    grid-template-columns: auto auto auto auto;
  }
}

.card {
  animation-name: fadeIn;
  animation-duration: 1s;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  button {
    border-style: none;
    border-radius: 10px;
  }

  .like-btn {
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    font-weight: 700;
  }
}

.my__modal {
  animation-name: fadeIn;
  animation-duration: 1s;
  @media screen and (min-width: 320px) and (max-width: 500px) {
    width: 80% !important;
  }
  @media screen and (min-width: 501px) and (max-width: 767px) {
    width: 60%;
    padding: 5%;
  }
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    width: 40%;
    padding: 5%;
    max-width: 416px;
  }

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  padding: 3%;
  z-index: 2;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    margin-bottom: 4%;
    border-radius: 10px;
    border: 5px solid black;
    width: 70%;
  }
  h1 {
    font-weight: 700;
  }
  p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    @media screen and (max-width: 1024px) {
      font-size: 0.95rem;
    }
  }
}

.btn__close {
  border-style: none;
  background-color: #fff;
  font-size: 3rem;
  position: absolute;
  right: 3%;
  top: 0%;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  backdrop-filter: blur(3px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
